{% extends 'base.html' %}
{% load static %}
{% block T %} {{name}}{% endblock %}
{% block B %} 

{% block hed %}
<style type="text/css">
td
{
    padding:0 15px;
}
</style>
{% endblock %}

<div>
    <h1 align="center" style="font-size: 50px;">
     {{name}} 
</h1>

</div>

<br>
<br>
<br>
<div  class="col-5" style="float: left;margin-left: 200px;background-color: yellow;">
    
    <div class="ml-5 mr-5" >
        <h1 style="font-size: 30px;color:blue;margin-left: 50px;">
        Contests
    </h1>
    <br>
        <table class="mytables">
    
    <tr>
        <td>Rating</td>
        <td>{{current_rating}}</td>
    </tr>
    <tr>
        <td>Max Rating</td>
        <td>{{max_rating}}</td>
    </tr>
    <tr>
        <td>Lowest Rating</td>
        <td>{{lowest_rating}}</td>
    </tr>
    <tr>
        <td>No. of Contests</td>
        <td>{{contest_count}}</td>
    </tr>
    <tr>
        <td>Best Rank</td>
        <td>{{best_rank}}</td>
    </tr>
    <tr>
        <td>Worst Rank</td>
        <td>{{worst_rank}}</td>
    </tr>
    <tr>
        <td>Max Up</td>
        <td>{{max_up}}</td>
    </tr>
    <tr>
        <td>Max Down</td>
        <td>{{max_down}}</td>
    </tr>
</table>
    </div>
    
</div>


<div  class="col-5" style="float: right;background-color: green;">
     <div class="ml-5 mr-5" >
    <h1 style="font-size: 30px;color:blue;">
        Submissions
    </h1>
    <table class="asdf">
        <br>
    <tr>
        <td>Submissions</td>
        <td>{{attempts}}</td>
    </tr>
    <tr>
        <td>Number of Problems Tried</td>
        <td>{{tried}}</td>
    </tr>
    <tr>
        <td>Problems Solved</td>
        <td>{{solved}}</td>
    </tr>
    <tr>
        <td>First Attempt Correct</td>
        <td>{{first_attempt_correct}}</td>
    </tr>
    <tr>
        <td>Average Submissions</td>
        <td>{{avg_sub}}</td>
    </tr>
</table>
</div>
</div>




{% endblock %}